@model IEnumerable<MeetingMinutesGP.Models.Topic>

@{

    ViewBag.Title = "medical_tamplete";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medicio landing page template for Health niche</title>

    <!-- css -->
    <link href="@Url.Content("~/Content/mytamp/")css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/mytamp/")font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytamp/")plugins/cubeportfolio/css/cubeportfolio.min.css">
    <link href="@Url.Content("~/Content/mytamp/")css/nivo-lightbox.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/mytamp/")css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mytamp/")css/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/mytamp/")css/owl.theme.css" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/mytamp/")css/animate.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/mytamp/")css/style.css" rel="stylesheet">

    <!-- boxed bg -->
    <link id="bodybg" href="@Url.Content("~/Content/mytamp/")bodybg/bg1.css" rel="stylesheet" type="text/css" />
    <!-- template skin -->
    <link id="t-colors" href="@Url.Content("~/Content/mytamp/")color/default.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Medicio
      Theme URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


    <div id="wrapper">



        <!-- Section: intro -->
        <section id="intro" class="intro">
            <div class="intro-content">
                <div class="container">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                        <h2 class="h-ultra"> Medical Group</h2>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">

                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                                <h7 class="h-light">Provide best quality healthcare for you</h7>
                            </div>
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                                <h4 class="h-light">Agenda Title @ViewData["total"]</h4>
                                <h4 class="h-light">Meeting Date: @ViewData["MeetingDate"]</h4>

                                <h4 class="h-light">Meeting Duration:@ViewData["MeetingDuration"] h</h4>
                            </div>
                            <div class="well well-trans">
                                <div class="wow fadeInRight" data-wow-delay="0.1s">

                                    <ul class="lead-list">
                                        @foreach (var topics in Model)
                                        {
                                            <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Name Topic</strong><br />@topics.TopicName</span></li>
                                            <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Description</strong><br />@topics.TopicDescription</span></li>
                                        }

                                    </ul>
                                    <p class="text-right wow bounceIn" data-wow-delay="0.4s">
                                        @*<a href="@Url.Action("exportpage2","NewMeeting")" class="btn btn-skin btn-lg">export pdf <i class="fa fa-angle-right"></i></a>*@
                                        <button onclick="RedirectToExport()" class="btn btn-skin btn-lg">Export to PDF<i class="fa fa-angle-right"></i></button>

                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                                <img src="img/dummy/img-1.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- /Section: intro -->
        <!-- Section: boxes -->
        <!-- /Section: boxes -->
        <!-- Section: services -->
        <!-- /Section: services -->
        <!-- Section: team -->
        <!-- /Section: team -->
        <!-- Section: works -->
        <!-- /Section: works -->
        <!-- Section: testimonial -->
        <!-- /Section: testimonial -->
        <!-- Section: pricing -->
        <!-- /Section: pricing -->





    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

    <!-- Core JavaScript Files -->
    <script src="@Url.Content("~/Content/mytamp/")js/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/jquery.easing.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/wow.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/jquery.scrollTo.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/jquery.appear.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/stellar.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/nivo-lightbox.min.js"></script>
    <script src="@Url.Content("~/Content/mytamp/")js/custom.js"></script>
    <script>

        function RedirectToExport() {
            window.open('@Url.Action("exportpage2", "NewMeeting", new { id =  @ViewData["total1"].ToString()  })');
        }
    </script>
</body>

</html>
