@model MeetingMinutesGP.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<style>
    .loginform {
        /*float:none !important;*/
        /*clear:both;*/
    }

    .loginbtn {
        background: #1cc3b2;
        color: #fff;
        border: none;
        padding: 10px;
        transition: background-color 200ms linear;
        font-weight:bold;
    }

        .loginbtn:hover {
            background: #252c38;
            color: #fff;
        }

    .loginform {
        border-radius: 5px;
        box-shadow: rgb(158, 158, 158) 0px 0px 11px 0px;
        /*float: none;*/
    }

    .ForgotPassword {
        color: #809191;
        font-size: 14px;
    }

        .ForgotPassword:hover {
            text-decoration: none;
            color: #809191;
        }

    .Register {
        display: block;
        padding: 17px;
        margin: 0;
    }

    .Signin, .Newaccount {
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        /*float: left;*/
        margin: 0;
    }

    .Signin {
        background: #fff;
        border-radius: 5px 0 0 0;
        border-bottom: 1px solid #dee2e6;
    }

    .Newaccount {
        background: #252c38;
        border-radius: 0 5px 0 0;
    }

        .Newaccount .Register, .Signin .Register {
            text-decoration: none;
            float: none;
            font-weight: bold;
        }

        .Newaccount .Register {
            color: #fff;
        }

    .Signin .Register {
        color: #252c38;
    }

    .emailLabel, .passwordLabel {
        display: block;
    }

    input, select, textarea {
        max-width: 100%;
        /*float:none !important;*/
    }

    label {
        text-align: left !important;
        /*float:none !important;*/
    }

    #RememberMe {
        float: none !important;
    }

    .textleft {
        text-align: left !important;
    }
</style>
<br />
<div class="container body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal border col-md-6 col-md-offset-3 centered loginform">
            <div class="form-group row" align="center">
                <div class="col-md-6 Signin">
                    @Html.ActionLink("Sign in", "Login", "User", new { @class = "Register col-md-6" })
                </div>
                <div class="col-md-6 Newaccount">
                    @Html.ActionLink("New account", "Registration", "User", new { @class = "Register col-md-6" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group " align="center">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "emailLabel control-label col-md-10 col-md-offset-1" })
                <div class="col-md-10 col-md-offset-1">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" align="center">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-10 col-md-offset-1 passwordLabel" })
                <div class="col-md-10 col-md-offset-1">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group text-danger" align="center">
                @ViewBag.Message
            </div>
            <div class="form-group " align="center">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe, new { @class = "checkbtn" })
                    @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label textleft" })
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })

                </div>
                @*</div>*@
            </div>

            <div class="form-group" align="center">
                <div class="col-md-11 col-md-offset-1">
                    <input type="submit" value="Log In" class="col-md-11 btn btn-default loginbtn" />
                </div>
            </div>
            <div class="form-group" align="center">
                @Html.ActionLink("Forgot your password ?", "ForgotPassword", "User", new { @class = "ForgotPassword" })
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
